/* General Styles */

body {
    background-color: #0d0d0d;
    color: #e0e0e0;
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
@font-face {
    font-family: 'Chopsic';
    src: url('/static/fonts/Chopsic 400.otf') format('opentype');
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.title-mpds {
    font-family: 'Chopsic', sans-serif;
    font-size: 5em; 
}
/* Enlaces */
a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #ff6f61;
}

/* Header */
header {
    background-color: #1a1a1a;
    color: #ff6f61;
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid #ff6f61;
}

header h1 {
    font-size: 2.8em;
    font-weight: bold;
    margin: 0;
    letter-spacing: 1px;
}

header h4.subtitle {
    font-size: 1.2em;
    color: #b3b3b3;
    margin-top: 5px;
}

/* Navbar */
nav {
    background-color: #1a1a1a;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    transition: transform 0.3s ease; /* Transición suave */
}

nav ul li {
    position: relative;
}

nav ul li a {
    color: #e0e0e0;
    font-weight: 500;
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #ff6f61;
    color: #0d0d0d;
}

/* Estilos para el menú hamburguesa */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: fixed;
    top: 15px;
    left: 15px; /* Cambiado de right a left */
    z-index: 1100; /* Asegura que el icono de hamburguesa esté siempre visible */
    margin-left: 20px; /* Añade un margen para que no quede al límite de la pantalla */
}

.hamburger .icon-hamburger {
    display: block;
    width: 25px;
    height: 25px;
    fill: #e0e0e0;
}

.hamburger .icon-close {
    display: none;
    width: 25px;
    height: 25px;
    fill: #e0e0e0;
}

.hamburger.active .icon-hamburger {
    display: none;
}

.hamburger.active .icon-close {
    display: block;
}
/* Main Section */
main {
    max-width: 1000px;
    margin: 20px auto;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    text-align: center;
}

main h2 {
    font-size: 2.2em;
    color: #ff6f61;
    margin-bottom: 15px;
}

main p {
    font-size: 1em;
    color: #cccccc;
    margin-bottom: 20px;
}

main a {
    display: block;
    color: #ff6f61;
    text-decoration: none;
    font-weight: bold;
    margin: 10px 0;
    transition: color 0.3s ease;
}

main a:hover {
    color: #ffffff;
}

/* Footer */
footer {
    background-color: #1a1a1a;
    color: #b3b3b3;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #ff6f61;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    margin: 0;
    font-size: 0.9em;
}

footer .social-icons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

footer .social-icons a {
    color: #ff6f61;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

footer .social-icons a:hover {
    color: #ffffff;
}

.calendar-day.block-end {
    background-color: #ff9800;
    color: white;
    font-weight: bold;
    border: 2px solid #f57c00;
    text-align: center;
}

/* Flash Messages */
.flashes {
    position: absolute;
    top: 15px;
    right: 15px;
    max-width: 300px;
}

.flash {
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 0.9em;
    text-align: center;
    background-color: #ff6f61;
    color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

/* Buttons */
.btn {
    padding: 10px 20px;
    background-color: #ff6f61;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: #e65c50;
}
.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-success {
    background-color: #28a745;
    color: white;
}

.btn-secondary {
    padding: 10px 20px;

    background-color: #555;
    color: white;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s ease;

}

.btn-info {
    background-color: #17a2b8;
    color: white;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-success:hover {
    background-color: #218838;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

.btn-info:hover {
    background-color: #138496;
}
.btn-edit {
    background-color: #4caf50;
    color: white;
}

.btn-delete {
    background-color: #f44336;
    color: white;
}

.btn-edit:hover {
    background-color: #45a049;
}

.btn-delete:hover {
    background-color: #e53935;
}
/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

/* Progress Bar */
.progress-bar-container {
    width: 100%;
    background-color: #333;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
}

.progress-bar {
    height: 20px;
    width: 0;
    background-color: #28a745;
    transition: width 0.3s ease;
}

/* Dashboard Sections */
.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard > div {
    width: 100%;
    max-width: 1000px;
    margin-bottom: 40px;
}

.dashboard h2 {
    font-size: 1.8em;
    color: #ff6f61;
    margin-bottom: 20px;
}

.dashboard p {
    font-size: 1em;
    color: #cccccc;
}

.dashboard .quick-actions, .dashboard .block-status, .dashboard .one-rm-progression, .dashboard .recent-workouts {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.dashboard .quick-actions h2, .dashboard .block-status h2, .dashboard .one-rm-progression h2, .dashboard .recent-workouts h2 {
    font-size: 1.5em;
    color: #ff6f61;
    margin-bottom: 15px;
}

.dashboard .recent-workouts ul {
    list-style: none;
    padding: 0;
}

.dashboard .recent-workouts li {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #1a1a1a;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dashboard .recent-workouts li a {
    color: #007bff;
    text-decoration: none;
}

.dashboard .recent-workouts li a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {

    .hamburger {
        display: flex;
        margin-top: 70px;
    }
   
    nav ul {
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #1a1a1a;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 100;
        transform: translateX(-100%); /* Inicialmente fuera de la pantalla */
        transition: transform 0.3s ease; /* Transición suave */


    }

    nav ul.active {
        transform: translateX(0); /* Deslizar hacia dentro */
    }

    nav ul li {
        width: 100%;
    }

    nav ul li a {
        display: block;
        width: 100%;
        padding: 20px;
        font-size: 1.5em;
    }

    main {
        padding: 15px;
        width: 100%;
    }

    footer .social-icons {
        flex-direction: column;
        align-items: center;
    }

    footer .social-icons a {
        font-size: 1.2em;
    }

    .dashboard > div {
        width: 100%;
    }
}

@media (max-width: 430px){
    .title-mpds {
        font-size: 4em; 
    }
    .subtitle {
        display: none;
    }
    .hamburger {
        left: 10px;
        margin-top: 40px;

    }
}

@media (max-width: 390px) {
    .title-mpds{
        margin-top: 15px;
        font-size:3.5em;
    }
    .hamburger {
        left: 10px;
        margin-top: 30px;

    }
    header h1 {
        font-size: 1.8em;
    }
    .subtitle {
        display: none;  /* Ocultar el subtítulo en pantallas pequeñas */
    }

    nav ul {
        flex-direction: column;
        gap: 5px;
    }

    main {
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
    }

    footer .social-icons {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    footer .social-icons a {
        font-size: 1.2em;
        margin: 5px;
    }

    .dashboard > div {
        width: 100%;
        box-sizing: border-box;
    }
}

.hidden {
    display: none;
}