<!DOCTYPE html>
{% extends "general/base.html" %} {% block content %}
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Crear Rutina</title>
	</head>
	<body>
		<h1>Crear Rutina</h1>
		<form action="{{ url_for('setup.create_routine') }}" method="POST">
			<label for="routine_name">Nombre de la Rutina:</label>
			<input
				type="text"
				id="routine_name"
				name="routine_name"
				required
			/><br /><br />

			<label for="training_day">Día de la Semana:</label>
			<select id="training_day" name="training_day" required>
				<option value="Lunes">Lunes</option>
				<option value="Martes">Martes</option>
				<option value="Miércoles">Miércoles</option>
				<option value="Jueves">Jueves</option>
				<option value="Viernes">Viernes</option>
				<option value="Sábado">Sábado</option>
				<option value="Domingo">Domingo</option></select
			><br /><br />

			<div id="exercises">
				<label>Ejercicios:</label><br />
				<div>
					<input
						type="text"
						name="exercises[]"
						placeholder="Nombre del ejercicio"
						required
					/>
				</div>
			</div>
			<button type="button" onclick="addExercise()">Añadir Ejercicio</button
			><br /><br />

			<button type="submit">Guardar Rutina</button>
		</form>

		<script>
			function addExercise() {
				const exercisesDiv = document.getElementById("exercises");
				const newExercise = document.createElement("div");
				newExercise.innerHTML = `
                <input type="text" name="exercises[]" placeholder="Nombre del ejercicio" required>
                <button type="button" onclick="this.parentElement.remove()">Eliminar</button>
            `;
				exercisesDiv.appendChild(newExercise);
			}
		</script>
	</body>
</html>
{% endblock %}
